/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143/70%);
    --section-padding: 100px;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start anchor Special Effect */
.portfolio a,
.pricing .container>a {
    position: relative;
    overflow: hidden;
}

a span {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
}

a .liquid {
    position: absolute;
    left: 0;
    top: -80px;
    width: 200px;
    height: 200px;
    background: var(--main-color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

a:hover .liquid {
    top: -120px;
}

a .liquid::before,
a .liquid::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -5;
    left: 50px;
    transform: translate(-80%, -75%);
}

a .liquid::before {
    border-radius: 45%;
    background-color: rgb(66, 65, 65);
    animation: animate 5s linear infinite;
}

a .liquid::after {
    border-radius: 40%;
    background-color: rgba(66, 66, 66, 0.5);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* End anchor Special Effect */
/* Start Components */

.main-heading {
    text-align: center;
}



.main-heading h2::before {
    content: attr(data-text);
    position: absolute;
    color: var(--main-color);
    border-right: 5px solid var(--main-color);
    width: 0;
    overflow: hidden;
    transition: 0.75s ease-in-out;
    -webkit-text-stroke: 1px var(--main-color);

}

.main-heading h2:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 50px var(--main-color));
}

.main-heading h2 {
    display: inline-block;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
}


.main-heading p::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    width: 120px;

}

.main-heading p {
    line-height: 2;
    color: #777;
    margin: 0 auto 100px;
    width: 550px;
    max-width: 100%;
    position: relative;
}

.main-heading p::after {
    content: '';
    position: absolute;
    top: -47px;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #333;
}

/* End Components */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0px;
    left: 15px;
    width: calc(100% - 30px);
}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;
    display: none;
}

@media(max-width:768px) {
    header nav .toggle-menu {
        display: block
    }


}

header nav ul {
    display: flex;

}

@media(max-width:768px) {
    header nav ul {
        display: none
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
    }

    header nav .toggle-menu:hover+ul li a {
        padding: 15px;
    }
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 3;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .form {
    width: 40px;
    height: 30px;
    display: flex;
    margin-left: 30px;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid white;
}

i {
    color: white;
    font-size: 20px;
}

/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    position: relative;
    background-image: url('../images/landing.jpg');
    background-color: #1f2021;
    background-size: cover;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
}



.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 20px;
}

.landing .text .content {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing .fa-angle-left {
    left: 20px;
}

.landing .fa-angle-right {
    right: 20px;
}

@media(max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Landing */

/* ٍٍStart Services Section  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services-container .serv-box {
    flex-grow: 1;
    flex-basis: 450px;
    display: flex;
}


@media (min-width:768px) {
    .services-container {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 40px;
    }
}

@media (max-width:767px) {
    .services-container .serv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
}

.services-container .serv-box .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services-container .serv-box .text p {
    line-height: 2;
    color: #777
}

.serv-box i {
    color: black;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .services .serv-box i {
        margin: 0 0 30px;
    }
}

/* End Services Section  */
/* Start Design Section */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url('../images/design-features.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;

}

@media (max-width:767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font: var(--fa-font-solid);
    content: "\f390";
    margin-right: 20px;
}

/* End Design Section */

/* Start Portfolio Section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.portfolio ul {
    display: flex;
    justify-content: center;
}

.portfolio ul li {
    padding: 10px;
}

.portfolio ul li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
    flex-basis: 25%;
}

@media (max-width:992px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (max-width:767px) {
    .portfolio .imgs-container .box {
        flex-basis: 100%;
    }
}

.portfolio .imgs-container .box:hover img {
    transform: scale(1.1) rotate(3deg);
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    bottom: -100%;
    transition: 0.3s linear;
    background-color: white;
    padding: 20px;
    width: 100%;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0px;
    text-align: left;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color)
}

.portfolio a {
    display: inline-block;
    background-color: var(--main-color);
    text-decoration: none;
    padding: 15px 20px;
    color: white;
    margin: 30px auto;
}

/* End Portfolio Section */
/* Start video */
.video {
    position: relative;
}

.video::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    padding: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
}

/* End video */
/* Start About Section */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}

@media (max-width:767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End About Section */
/* Start Stat Section */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
}

.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    display: grid;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media(max-width:767px) {
    .stats .container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

@media(min-width:768px) {
    .stats .container {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
}

@media(min-width:992px) {
    .stats .container {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 14px;
}

/* End Stat Section */

/* Start Skills Section */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}



.skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(min-width:992px) {
    .skills .container>div {
        flex-basis: 45%;
    }
}

.skills .container>div>h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.skills .container>div>p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.skills .container .testimonial .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.skills .container .testimonial .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

@media(max-width:767px) {
    .skills .container .testimonial .content {
        flex-direction: column;
        text-align: center;
    }

    .skills .container .testimonial .content img {
        margin: 0 auto 20px;
    }
}

.skills .container .testimonial .content .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.skills .container .testimonial .content p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}

.testimonial .bullets {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.testimonial .bullets li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #aaa;
    background-color: transparent;
    margin-right: 10px;
}

.testimonial .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.skills .my-skills .prog-holder {
    margin-bottom: 40px;
}

.skills .my-skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.skills .my-skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.skills .my-skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -20px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.skills .my-skills .prog-holder .prog span {
    background-color: var(--main-color);
    display: block;
    height: 100%;
    position: relative;
}

.skills .my-skills .prog-holder .prog span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -8px;
    top: -15px;

}

/* ُEnd Skills Section */
/* Start quote Section */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.quote .container {
    position: relative;
}

.quote q::before {
    font: var(--fa-font-solid);
    content: "\f10d";
    font-size: 25px;
    margin-right: 5px;
}

.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.quote q::after {
    font: var(--fa-font-solid);
    content: "\f10e";
    font-size: 25px;
    margin-left: 5px;

}

/* End quote Section */
/* Start Pricing Section */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
    box-sizing: border-box;
    width: fit-content;
    margin: auto;
}

.pricing .plans .plan ul li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .foot {
    padding: 30px;
}

.pricing .plans .plan .foot a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    border: 1px solid var(--main-color);

}

.pricing .container>p {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}

.pricing .container>a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}

/* End Pricing Section */
/* Start Sub Section */
.subscribe::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form ::placeholder {
    color: white;
}

.subscribe form input[type='email'] {
    border: 1px solid white;
    border-right: none;
    background: transparent;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    color: white;
}

.subscribe form input[type='email']:focus,
.subscribe form input[type='submit']:focus {
    outline: none;
}

.subscribe form input[type='submit'] {
    color: white;
    background-color: var(--main-color);
    width: 130px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid white;
    border-left: none;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media (max-width:991px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}

/* End Sub Section */
/* Start Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .contact .content {
        flex-direction: column-reverse;
    }
}

.contact .content form {
    flex-basis: 70%;
    text-align: end;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type='submit'] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

}

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width:767px) {
    .contact .content .info {
        text-align: center;
    }
}

.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .info h4:last-of-type {
    margin-top: 90px;
}

@media (max-width:767px) {
    .contact .content .info h4:last-of-type {
        margin-top: 30px;
    }
}

.contact .content .info address {
    color: #777;
    line-height: 2;
}

@media (max-width:767px) {
    .contact .content .info address {
        margin-bottom: 40px;
    }
}

/* End Contact Section */
/* Start Footer */
.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}

.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.footer .container {
    position: relative;
}

.footer img {
    margin-bottom: 20px;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
    border-bottom: 1px solid white;
}

.footer i {
    padding: 10px 15px;
}

.footer .copyright {
    margin-top: 60px;
}

.footer .copyright span {
    font-weight: bold;
    color: var(--main-color)
}

/* End Footer */